body{
    font-family: 'Montserrat', sans-serif;
    height: 200%;
    text-align: center;
    background-color: ivory;
}
#header{
    text-align: center;
}
#main{
    text-align: left;
    background-color: lightblue;
    border: crimson double 3px;
    font-size: 32px;
    margin-left: 172px;
    margin-right: 172px;
    color: gray
}
